.wrapper {
	width: 800px;
	margin: 0 auto;
	background: linear-gradient(135deg, #3023ae 0%, #53a0fe 50%, #b4ed50 100%);
	padding: 40px 80px; 
	border-radius: 20px;
}
form {
	margin-top: 30px;
	display: inline-block;
}
h2 {
	font-size: 40pt;
	text-align: center;
	margin: 20px 0;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
p { 
	font-size: 16pt;
}
#blink {
  -webkit-animation: blink 3s linear infinite;
  animation: blink 3s linear infinite;
}
@-webkit-keyframes blink {
  0% { color: rgba(216, 77, 107, 1); }
  50% { color: rgba(216, 77, 107, 0); }
  100% { color: rgba(216, 77, 107, 1); }
}
@keyframes blink {
  0% { color: rgba(216, 77, 107, 1); }
  50% { color: rgba(216, 77, 107, 0); }
  100% { color: rgba(216, 77, 107, 1); }
}
#button {
	display: inline-block;
	position: relative;
	left: -5px;
	height: 19px;
	background-color: rgb(216, 77, 107);
	color:#ffffff;
	border-radius: 0 5px 5px 0;
	text-align:center;
	padding: 5px 15px;
	color: black;
}
#button:hover {
	cursor: pointer;
	opacity: .9;
	margin-top: 30px;
}
#button:active {
    outline: none;
    background-color: #d84d6b;
    border-color: #d84d6b;
    box-shadow: inset -2px 0px 3px 0px rgba(0, 0, 0, .25);
}
#mrProper {
	float: right;
	display: inline-block;
	height: 19px;
	background-color: rgb(216, 77, 107);
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	padding: 5px 15px;
	margin-top: 30px;
	color: black;
}
#mrProper:hover {
	cursor: pointer;
	opacity: .9;
}
#mrProper:active {
    outline: none;
    background-color: #d84d6b;
    border-color: #d84d6b;
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .25);
}
form input {
    border: 1px solid;
    height: 17px;
    border-radius:5px 0 0 5px;
    line-height: 1.33;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: content-box;
    width: 420px;
    outline: none;
    color: #d84d6b;
}   
form input:focus {
    border: 1.5px solid;
    opacity: .9;
    transition-duration: .4s;
}
.del{text-decoration: line-through;}

ol {padding-left: 20px;}

ol li {padding: 10px;color:#000;border-radius: 10px;}

ol li:nth-child(even){background: #d84d6b;}

li:hover{
  cursor: pointer;
}
